<main>
  <h1>Login</h1>
  <i class="bi bi-person-circle"></i>

  <div>
    <p>Para teste:
    <p>fulano@xxx.xx / 123456</p>
    <p>ciclano@xxx.xx / 13579</p>  
    <p>beltrano@xxx.xx / 2468</p>
  </div>

  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginModel.email" required>
    </div>  
    <br>
    <div>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" [(ngModel)]="loginModel.password" required>
    </div>
    <br> 
     <input id="botao-enviar" type="submit" value="Fazer login">
  </form>
  <br> 
  <div class="link">
    <button routerLink="" mat-raised-button>Volta a home</button>
  </div> 
</main>


